[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langchain-groq = "*"
langchain-pinecone = "*"
python-dotenv = "*"
langchainhub = "*"
black = "*"
langchain-huggingface = "*"
langchain-text-splitters = "*"
langchain-community = "*"

[dev-packages]

[requires]
python_version = "3.10"
